.vscode/**
src/**
node_modules/**
tsconfig.json
esbuild.js
**/*.ts
**/*.map
.gitignore
*.vsix
images/icon-source.html
images/icon-512.png
images/icon-128.png
# keep images/icon.png (extension marketplace icon)
